!!!
%html.no-js{ :dir => 'ltr' }
  %head
    %title
      = @page_title
      \| Manager
    = stylesheet_link_tag 'ish_lib_manager/application', :media => 'all'
    = javascript_include_tag 'ish_lib_manager/application'
    = favicon_link_tag 'favicons/manager.ico'
    = csrf_meta_tags
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %meta{ :charset => "utf-8" }
    %meta{ 'http-equiv' => "x-ua-compatible", :content => "ie=edge" }
  %body
    = render 'ish_lib_manager/application/main_header'
    
    .row
      .small-12.columns
        
        - if flash[:notice]
          %br
          .callout{ 'data-closable' => '' }
            = flash[:notice]
            %button.close-button{ 'aria-label' => 'Dismiss alert', :type => 'button', 'data-close' => '' }
              %span{ 'aria-hidden' => 'true' } &times;
        - if flash[:error]
          %br
          .callout.alert{ 'data-closable' => '' }
            = flash[:error]
            %button.close-button{ 'aria-label' => 'Dismiss alert', :type => 'button', 'data-close' => '' }
              %span{ 'aria-hidden' => 'true' }&times;
        - if flash[:alert] # cancan does this
          %br
          .callout.alert{ 'data-closable' => '' }
            = flash[:alert]
            %button.close-button{ 'aria-label' => 'Dismiss alert', :type => 'button', 'data-close' => '' }
              %span{ 'aria-hidden' => 'true' }&times;

        = yield
        
    = render 'ish_lib_manager/application/main_footer'
    
