!!!
%html
  %head
    %title
      = @page_title
      \| Manager
    = stylesheet_link_tag 'ish_lib_manager/application', :media => 'all'
    = javascript_include_tag 'ish_lib_manager/application'
    = favicon_link_tag 'favicons/manager.ico'
    = csrf_meta_tags
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
  %body
    = render 'ish_lib_manager/application/main_header'
    = yield
    -# = render 'ish_lib_manager/application/main_footer'
    %hr
    ^__^
