
.sites-show
  .row
    .small-12.columns
      %h1
        Site http://#{@site.domain}/#{@site.lang}
        = link_to '[~]', edit_site_path( @site.id )
  .row
    .small-12.large-6.columns
      = render 'ish_lib_manager/galleries/index', :galleries => @galleries
    .small-12.large-6.columns
      = render 'ish_lib_manager/reports/index', :reports => @reports

  .row
    .small-12.large-6.columns
      = render 'ish_lib_manager/videos/index', :videos => @videos
    .small-12.large-6.columns
      = render 'ish_lib_manager/tags/index', :tags => @tags
      
  .row
    .small-12.columns
      = render 'ish_lib_manager/features/index', :features => @features, :site => @site

  .row
    .small-12.columns
      %h4 Newsitems (#{@newsitems.length})
      
      %ol
        - @newsitems.each do |newsitem|
          %li
            %ul
              %li= button_to '[Delete]', site_newsitem_path(@site.id, newsitem.id), :method => :delete, :data => { :confirm => 'Are you sure?' }, :confirm => 'Are you really sure?'
            = render 'newsitems/item', :newsitem => newsitem
      = paginate @newsitems, :param_name => 'newsitems_page', :views_prefix => 'ish_lib_manager'
