
.manager-features--index
  %h2 Features (#{features.length})

  = paginate features, :param_name => 'features_page'
  %ul.large-block-grid-4
    - features.each_with_index do |feature, idx|
      %li
        = link_to '[~]', edit_manager_site_feature_path( site.id, feature.id )
        = link_to '[x]', manager_site_feature_path( site.id, feature.id ), :method => :delete, :data => { :confirm => 'Are you sure?' }
        .item= render 'manager/features/item', :feature => feature
         
